body {
    margin: 0;
    padding: 0;

    font-family: "Roboto Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: black;
    background-color: white;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

a {
    text-decoration: none;
}

.main-navigation {
    font-family: "Roboto Medium", Arial, sans-serif;
    line-height: 30px;
}

.slider h3,
.container h1{
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
}

.slider-slide-text {
    line-height: 24px;
}

.slider-image {
    background-image: url("../img/slide1.png");
}

.site-navigation,
.user-navigation,
.projects-element-list,
.about-us-content-list,
.services-item,
.about-us-list,
.footer-social-list {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:active,
.user-navigation a:active {
    opacity: 0.3;
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color:#fb565a;
}

.site-navigation-current a{
    border-bottom: 2px solid #fb565a;

}

.price-name {
    font-size: 18px;
    line-height: 30px;
}

.sort-name {
    font-size: 18px;
    line-height: 18px;
}

.price p {
    line-height: 22px;
}

nav img:hover {
opacity: 0.8;
}

nav img:active {
opacity: 0.3;
}

.services-item-name {
    text-transform: uppercase;
    font-size: 24px;
}

.about-us-name {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
}

.about-us {
    line-height: 24px;
}

.about-us-content-list b {
    font-size: 45px;
    line-height: 10px;
}

.main-footer h3{
    font-size: 36px;
    line-height: 36px;
}

.main-footer p {
    line-height: 22px;
}

a.button {
    font-family: "Roboto Medium", Arial, sans-serif;
    background-color: #fb565a;
    color: #ffffff;
}

.services-item:nth-child(2) a:hover {
    background-color: #e74246;
}

.services-item:nth-child(2) a:active {
    background-color: #d7373b;
}

.services-item:nth-child(3) a {
    background-color: #00ca74;
}

.services-item:nth-child(3) a:hover {
    background-color: #00bc6c;
}

.services-item:nth-child(3) a:active {
    opacity: 0.3;
    background-color: #00aa62;
}

.services-item:nth-child(4) a {
    background-color: #efc84a;
}

.services-item:nth-child(4) a:hover {
    background-color: #eab534;
}

.services-item:nth-child(4) a:active {
    opacity: 0.3;
    background-color: #e5a722;
}

.projects-element-image a {
    opacity: 0.2;
}

.projects-element-image a:hover {
    opacity: 1.0;
}

.projects-element-image a:active {
    opacity: 0.1;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.catalog-item-name {
    font-size: 18px;
    line-height: 30px;
}

.catalog-item-text {
    line-height: 18px;
}

.filters input {
    line-height: 20px;
}

.breadcrumbs a {
    opacity: 0.3;
}
.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 1.0;
}

.filters-button {
    background-color: #eeeeee;
    border: none;
    font-family: "Roboto Medium", Arial, sans-serif;
}

/* --------------------------------------------Сетка-------------------------------------------- */
.main-header {
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 20px;
    list-style: none;
    background-color: #eeeeee;
  }

  .main-navigation {
      padding: 0 120px;
    display: flex;
   }

   .main-navigation-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  
   .main-header-logo {
    width: 160px;
    height: 65px;
    margin-right: 200px; 
  }
  
.container {
    width: 1440px;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

  .site-navigation {
    margin: 0;
    padding: 0;
    
    list-style: none;
    
    /* Временно для сетки */
    min-width: 440px;
    min-height: 45px;
  }
  
  .user-navigation {
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none;
    
    /* Временно для сетки */
    min-width: 120px;
    min-height: 45px;
  }

/* -------------------------------------------------СЛАЙДЕР------------------------------------------------- */
  .slider {
    margin: 0 auto;
    padding: 0 20px;
    min-height: 410px;
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin-bottom: 80px;
    background-color: #eeeeee;
    flex-basis: auto;
  }

.slider-block {
    display: flex;
    margin: 0;
}

  .slider-content {
    min-width: 380px;
    padding-left: 120px;
  }

  .slider-image {
    min-width: 760px;
    background-image: url("../img/slide1.png");
    margin-right: 140px;
  }
  
  .services {
    padding: 0;
    display: flex;
    margin: 0 140px;
    margin-bottom: 80px;
  }

.services-block {
    display: flex;
}

  .services-item {
    min-width: 300px;
    min-height: 350px;
    margin-right: 100px;
  }

  .about-us {
    padding: 0;
    padding-bottom: 75px;
    margin: 0 140px;
    display: flex;
    min-height: 450px; 
  }

  .about-us-content {
    margin-top: 80px;
    min-height: 370px;
    min-width: 660px;
  }

  .about-us-statistics {
    margin-left: auto;
    margin-top: 40px;
    min-width: 360px;
  }

.projects {
    margin: 0 140px;
    width: auto;
    min-height: 180px;
    margin-bottom: 80px;
}

.projects-element-list {
    display: flex;
    margin: 0;
    margin-left: 30px;
    padding: 0;
  
    list-style: none;
    
    /* Временно для сетки */
    min-height: 180px;
  }
  
  .projects-element-image {
    width: 290px;
    
    /* Временно для сетки */
    min-height: 180px;
  }

  .nerds-map {
      min-height: 415px;
  }

  .main-footer {
      width: 1400px;
      display: flex;
      margin: 0 140px;
      padding: 0 20px;
      margin-top: 70px;
      height: 215px;
  }

  .footer-social {
    min-width: 260px;
    margin-right: 140px;
    padding: 70px 0;
  }

  .footer-discount {
    min-width: 560px;
    padding: 80px 0;
  }
